@charset "UTF-8";

:root {
  --primary-color: rgba(22, 21, 29, 0.85); /* Соответствует $color1 */
  --secondary-color: rgba(155, 155, 255, 0.85); /* Соответствует $color2 */
  --accent-color: rgba(128, 159, 247, 0.7); /* Соответствует $color3 */
  --text-color: rgba(225, 225, 245, 0.9);
}

html, body {
  background-color: var(--secondary-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Koulen", cursive;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.intro {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.intro h1 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}
.intro p {
  font-size: 2rem;
  text-align: center;
}

.subintro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-cards {
  position: relative;
  width: 20vw;
  height: 10vw;
  max-width: 300px;
  max-height: 400px;
  margin-top: 100px;
  color: var(--text-color);
  perspective: 1000px;
  transform-origin: center;
}
.icon-cards h1 {
  font-size: 1.2rem;
  width: 100%;
}
.icon-cards__content {
  position: absolute;
  width: 300px;
  height: 400px;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  animation-duration: 8s; /* Изменено только время анимации */
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 400px;
  transform-origin: center;
}
.icon-cards__item h1 {
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translate(50%, -50%);
}
.icon-cards__item img {
  width: 100%;
  height: 100%;
}
.icon-cards__item:nth-child(1) {
  transform: rotateY(0) translateZ(30vw);
}
.icon-cards__item:nth-child(2) {
  transform: rotateY(120deg) translateZ(30vw);
}
.icon-cards__item:nth-child(3) {
  transform: rotateY(240deg) translateZ(30vw);
}

@keyframes carousel {
  0%, 100% {
    transform: translateZ(-35vw) rotateY(0deg);
  }
  25% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  50% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  75% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

.main {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  padding-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  width: 70%;
}

.card {
  position: relative;
  cursor: pointer;
  width: auto;
  overflow: hidden;
  margin: 5px;
  border-radius: 5px;
  color: var(--text-color);
}

.card h1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card h1, .card h2, .card p {
  pointer-events: none;
}

.card img {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  transition: opacity 0.2s ease-out;
}

.card img:hover {
  opacity: 0.5;
}

.search {
  text-align: center;
}
.search input {
  border-radius: 12px;
  height: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding-left: 12px;
  font-family: "Koulen", cursive;
}
.search input:focus {
  outline: 3px ridge var(--text-color);
  border-radius: 2rem;
}
.search button {
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  transition: 0.5s;
}
.search button:hover {
  box-shadow: inset 0 3rem 0 -1px var(--accent-color);
}

.searchNav {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 16px;
  margin-top: 10px;
  display: flex;
  width: 200px;
  height: 380px;
  flex-direction: column;
}
.searchNav h1 {
  text-align: center;
}

.boxtype input {
  display: inline;
  margin-left: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.boxtype label {
  display: inline;
  margin-left: 10px;
  transform: scale(0.3); /* Используйте десятичные значения для единообразия */
}

footer {
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  height: 10vh;
  text-align: center;
  margin-top: 50px;
}

footer p {
  font-size: 1.2rem;
  color: var(--text-color);
}

.back, .clear-button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.back {
  margin: 0 10px;
  max-height: 35px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.back i {
  margin: 0 10px;
}

.back:hover {
  background-color: var(--accent-color);
  transition: 1s;
}

.cardInfo h2, .wrapperforimg p, .specialH1 {
  color: var(--text-color);
}

.cardInfo h2, .specialH1 {
  text-align: center;
}

.wrapperforimg {
  display: flex;
  padding: 20px;
}

.wrapperforimg img {
  max-width: 300px;
  max-height: 400px;
  margin-left: 20px;
}

.rating {
  border-radius: 50%;
  max-width: 50px;
  margin: 0 auto;
}

.green, .orange, .red {
  border-width: 3px;
  border-style: solid;
}

.green {
  border-color: green;
}

.orange {
  border-color: orange;
}

.red {
  border-color: red;
}

.clear-button {
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
}

.clear-button:hover {
  background-color: #e1e1e1;
}

.top-bar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  z-index: 1000;
}

.language-switcher, .auth-buttons {
  display: flex;
  gap: 10px;
}

.language-switcher {
  position: relative; /* Для позиционирования выпадающего списка */
}

.lang-toggle, .lang-options button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.lang-options {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  border-radius: 5px;
  width: 102%;
}

.lang-toggle:hover + .lang-options, .lang-options:hover {
  display: block;
}

.lang-toggle:hover, .lang-options button:hover {
  background-color: var(--secondary-color);
}

.auth-buttons button {
  background-color: var(--primary-color); /* Исправлена ошибка в названии переменной */
  border-radius: 4px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: var(--secondary-color);
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: grab;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.favorite-button:hover {
  background-color: var(--accent-color); /* Изменение фона при наведении */
}