.back {
  margin: 0 10px;
  cursor: pointer;
  max-height: 35px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;

  i {
    margin: 0 10px;
  }

  &:hover {
    background-color: $color3;
    transition: 1s;
    border-radius: 10px;
  }
}
