.back {
  font-family: $ff;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 5px;
  }

  h3 {
    margin-left: 10px;
    display: inline;
    margin: 0px;
  }

  &:hover {
    background-color: $color3;
    transition: 1s;
    border-radius: 10px;
  }
}
